/*
 * File    : Res.rc
 * Remark  : Resources for NanoOS Terminal.
 *
 */

#include "TChar.h"
#include "Windows.h"
#include "ResId.h"

/*
 * Icons resources
 */
DKICON_APP			ICON		"..\..\..\Icons\NTermImg.ico"
DKICON_NTERM		ICON		"..\..\..\Icons\NIOTerm.ico"
DKICON_VDISP		ICON		"..\..\..\Icons\VDisp.ico"

/*
 * Begin menu resource
 */
MainMenu	MENU
{
	POPUP	_T("&Application")
	BEGIN
		POPUP	_T("&Console")
		BEGIN
			MENUITEM	SEPARATOR
		END
		MENUITEM	_T("&Update menu"),					DKM_APP_UPDATE_CONS_MENU
		MENUITEM	SEPARATOR
		MENUITEM	_T("&Install App. ...\tCTRL+I"),	DKM_APP_INSTALL
		MENUITEM	_T("&Re-Install App.\tCTRL+R"),		DKM_APP_REINSTALL
		MENUITEM	_T("Cance&l install\tCTRL+L"),		DKM_APP_CANCEL_INSTALL
		MENUITEM	SEPARATOR
		MENUITEM	_T("&Generate NApplication Project..."),	DKM_GEN_CODE
		MENUITEM	SEPARATOR
		MENUITEM	_T("&Exit\tCTRL+E"),				DKM_APP_EXIT
	END

	POPUP	_T("&View")
	BEGIN
		MENUITEM	_T("&Default"),						DKM_VIEW_DEFAULT_ARRANGEMENT
		MENUITEM	SEPARATOR

		POPUP	_T("C&lear")
		BEGIN
			MENUITEM	_T("Co&nsole\tCTRL+N"),			DKM_VIEW_CLEAR_CONSOLE
			MENUITEM	_T("USB Serial I&O\tCTRL+O"),	DKM_VIEW_CLEAR_USB_SERIAL_IO
		END
		
		MENUITEM	_T("Clear All\tCTRL+X"),			DKM_VIEW_CLEAR_ALL
	END

	POPUP	_T("&Options")
	BEGIN
		POPUP	_T("&NanoOS Port")
		BEGIN
			MENUITEM	_T("&Virtual Display\tCTRL+V"),	DKM_OPT_NPORT_SEL_VDISPLAY
			MENUITEM	_T("&Serial IO\tCTRL+S"),		DKM_OPT_NPORT_SEL_SERIAL
			MENUITEM	SEPARATOR
			MENUITEM	_T("&Disable\tCTRL+D"),			DKM_OPT_NPORT_DISABLE
		END
		POPUP	_T("NanoOS Port &Service")
		BEGIN
			MENUITEM	_T("Stat&us"),					DKM_OPT_NSVC_STATUS
			MENUITEM	SEPARATOR
			MENUITEM	_T("&Install"),					DKM_OPT_NSVC_INSTALL
			MENUITEM	_T("&Uninstall"),				DKM_OPT_NSVC_UNINSTALL
			MENUITEM	SEPARATOR
			MENUITEM	_T("&Start"),					DKM_OPT_NSVC_START
			MENUITEM	_T("Sus&pend"),					DKM_OPT_NSVC_SUSPEND
			MENUITEM	_T("&Resume"),					DKM_OPT_NSVC_RESUME
			MENUITEM	_T("S&top"),					DKM_OPT_NSVC_STOP
		END
	END

	POPUP	_T("&Help")
	BEGIN
		MENUITEM	SEPARATOR
		MENUITEM	_T("&About"),						DKM_HELP_ABOUT
	END
}

MenuAccel ACCELERATORS
{
	"I",	DKM_APP_INSTALL,				CONTROL,	VIRTKEY
	"R",	DKM_APP_REINSTALL,				CONTROL,	VIRTKEY
	"L",	DKM_APP_CANCEL_INSTALL,			CONTROL,	VIRTKEY
	"E",	DKM_APP_EXIT,					CONTROL,	VIRTKEY
	"X",	DKM_VIEW_CLEAR_ALL,				CONTROL,	VIRTKEY
	"N",	DKM_VIEW_CLEAR_CONSOLE,			CONTROL,	VIRTKEY
	"O",	DKM_VIEW_CLEAR_USB_SERIAL_IO,	CONTROL,	VIRTKEY
	"V",	DKM_OPT_NPORT_SEL_VDISPLAY,		CONTROL,	VIRTKEY
	"S",	DKM_OPT_NPORT_SEL_SERIAL,		CONTROL,	VIRTKEY
	"D",	DKM_OPT_NPORT_DISABLE,			CONTROL,	VIRTKEY
}
/*
 * End of menu resource
 */

/*
 * Begin about box
 */
DKD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About NTerminal"
FONT 8, "MS Shell Dlg"
BEGIN
	ICON			DKICON_APP, DKC_STATIC_1, 10, 10, 48, 48, SS_REALSIZEIMAGE
	LTEXT			"NTerminal, Version 1.0.2.1", DKC_STATIC_2, 52, 12, 114, 8, SS_NOPREFIX
	LTEXT			"\xA9 2020 Deka Prikarna A.", DKC_STATIC_3, 52, 24, 114, 8
    DEFPUSHBUTTON	"OK", IDOK, 113, 41, 50, 14, WS_GROUP
END
/*
 * End about box
 */

/*
 * Begin version resource
 */
#include "NTermVer.h"

#define DKVER_FILEVERSION					NTERMVER
#define DKVER_FILEVERSION_STR				NTERMVER_STR

#define DKVER_PRODUCTVERSION				NTERMVER
#define DKVER_PRODUCTVERSION_STR			NTERMVER_STR

#define DKVER_COMPANYNAME_STR				_T("Mapagan")
#define DKVER_FILEDESCRIPTION_STR			_T("Terminal to control NanoOS and display its output")
#define DKVER_INTERNALNAME_STR				_T("NTerminal")
#define DKVER_LEGALCOPYRIGHT_STR			_T("\xA9 2020 Deka Prikarna A")
#define DKVER_LEGALTRADEMARKS1_STR			_T("\xA9 2020 Deka Prikarna A")
#define DKVER_LEGALTRADEMARKS2_STR			_T("\xA9 2020 Deka Prikarna A")
#define DKVER_ORIGINALFILENAME_STR			_T("NTerminal")
#define DKVER_PRODUCTNAME_STR				_T("NTerminal")

#ifdef _DEBUG
# define DKVER_FILE_FLAGS						(VS_FF_DEBUG | VS_FF_PRERELEASE | VS_FF_PRIVATEBUILD)
#else
# define DKVER_FILE_FLAGS						0
#endif

1 VERSIONINFO
FILEVERSION    	DKVER_FILEVERSION
PRODUCTVERSION 	DKVER_PRODUCTVERSION
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	DKVER_FILE_FLAGS
FILEOS         	VOS_NT_WINDOWS32
FILETYPE       	VFT_APP
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK _T("StringFileInfo")
    BEGIN
        BLOCK _T("040904E4")
        BEGIN
            VALUE _T("CompanyName"),      DKVER_COMPANYNAME_STR
            VALUE _T("FileDescription"),  DKVER_FILEDESCRIPTION_STR
            VALUE _T("FileVersion"),      DKVER_FILEVERSION_STR
            VALUE _T("InternalName"),     DKVER_INTERNALNAME_STR
            VALUE _T("LegalCopyright"),   DKVER_LEGALCOPYRIGHT_STR
            VALUE _T("LegalTrademarks1"), DKVER_LEGALTRADEMARKS1_STR
            VALUE _T("LegalTrademarks2"), DKVER_LEGALTRADEMARKS2_STR
            VALUE _T("OriginalFilename"), DKVER_ORIGINALFILENAME_STR
            VALUE _T("ProductName"),      DKVER_PRODUCTNAME_STR
            VALUE _T("ProductVersion"),   DKVER_PRODUCTVERSION_STR
        END
    END

    BLOCK _T("VarFileInfo")
    BEGIN
		VALUE _T("Translation"), 0x409, 1252
    END
END
/*
 * End of version resource
 */

/*
 * Begin Generate code dialog resource
 */
DKD_GEN_CODE DIALOGEX 0, 0, 391, 126
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Visual Studio 2K8EE Project and/or Solution Options"
FONT 8, "MS Shell Dlg"
BEGIN
	GROUPBOX		"",					DKGC_FRAME,			3,0,384,101
	LTEXT			"Solution Name :",	DKGC_TITLE,			10,10,55,12,	SS_NOPREFIX
	EDITTEXT							DKGC_SLN_NAME,		85,10,100,12,	ES_READONLY
	AUTOCHECKBOX	"Include Solution", DKGC_SLN_CHECK,		192,10,100,12
	LTEXT			"Project Name :",	DKGC_TITLE,			10,27,100,12,	SS_NOPREFIX
	EDITTEXT							DKGC_PROJ_NAME,		85,27,100,12
	LTEXT			"Solution/Project Dir. :",	DKGC_TITLE,	10,45,100,12
	EDITTEXT							DKGC_PROJ_PATH,		85,45,240,12,	ES_MULTILINE | ES_AUTOVSCROLL
	PUSHBUTTON		"Browse...",		DKGC_PROJ_BROW,		330,45,50,14
	LTEXT			"NanoOS Source Dir. :",	DKGC_TITLE,		10,63,100,12
	EDITTEXT							DKGC_INC_PATH,		85,63,240,12,	ES_MULTILINE | ES_AUTOVSCROLL
	PUSHBUTTON		"Browse...",		DKGC_INC_BROW,		330,63,50,14
	LTEXT			"GCC Binary Dir. :",	DKGC_TITLE,		10,81,100,12
	EDITTEXT							DKGC_GCC_PATH,		85,81,240,12,	ES_MULTILINE | ES_AUTOVSCROLL
	PUSHBUTTON		"Browse...",		DKGC_GCC_BROW,		330,81,50,14
	DEFPUSHBUTTON	"&OK",				DKGC_BTN_OK,		265,106,55,16
	PUSHBUTTON		"&Cancel",			DKGC_BTN_CANCEL,	325,106,55,16
END
/*
 * End of Generate code dialog resource
 */

/*
 * Begin file resource
 */
DKF_MAIN_RES_ID			DKF_MAIN_RES_TYPE		"NAppRes\Main.c"
DKF_SRC_INC_RES_ID		DKF_SRC_INC_RES_TYPE	"NAppRes\Sources.inc"
/*
 * End file resource
 */
