#include "TChar.h"
#include "Windows.h"

#include "ResId.h"

IDD_GPIODLG	DIALOGEX	10, 10, 240, 120
EXSTYLE		WS_EX_CLIENTEDGE
STYLE		WS_CHILD
FONT		8, _T("MS Shell Dlg")
{
	GROUPBOX	_T("Select Pin"),	IDC_GRP,			5, 5, 224, 32
	LTEXT		_T("Port :"),		IDC_LABEL,			12, 16, 20, 12
	COMBOBOX						GPIOID_PORT_CB,		32, 16, 28, 48, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL
	LTEXT		_T("Pin Group :"),	IDC_LABEL,			66, 16, 40, 12
	COMBOBOX						GPIOID_PIN_GRP_CB,	104, 16, 50, 40, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL
	LTEXT		_T("Start Pin :"),	IDC_LABEL,			160, 16, 40, 12
	COMBOBOX						GPIOID_PIN_CB,		194, 16, 28, 192, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL

	GROUPBOX	_T("Set Pin As"),	IDC_GRP,			5, 48, 280, 51
	COMBOBOX						GPIOID_SETAS_CB,	12, 59, 42, 36, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL
	LTEXT		_T("Config :"),		IDC_LABEL,			60, 59, 28, 12
	COMBOBOX						GPIOID_CONFIG_CB,	88, 59, 68, 48, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL
	LTEXT		_T("Output Mode :"),		IDC_LABEL,	162, 59, 48, 12
	COMBOBOX						GPIOID_OUTMODE_CB,	210, 59, 68, 40, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL
	PUSHBUTTON	_T("Set"),			GPIOID_SET_PIN_BTN,	226, 78, 50, 14

	GROUPBOX	_T("Read Pin"),		IDC_GRP,			5, 108, 112, 32
	EDITTEXT						GPIOID_READ_EDT,	12, 120, 38, 12,	ES_READONLY | ES_NUMBER
	PUSHBUTTON	_T("Read"),			GPIOID_READ_BTN,	60, 120, 50, 14

	GROUPBOX	_T("Write Pin"),	IDC_GRP,			136, 108, 112, 32
	EDITTEXT						GPIOID_WRITE_EDT,	143, 120, 38, 12,	ES_NUMBER
	PUSHBUTTON	_T("Write"),		GPIOID_WRITE_BTN,	189, 120, 50, 14
}

IDD_USARTDLG	DIALOGEX	10, 10, 240, 120
EXSTYLE			WS_EX_CLIENTEDGE
STYLE			WS_CHILD
FONT			8, _T("MS Shell Dlg")
{
	GROUPBOX		_T("Open/Close"),	IDC_GRP,				5, 5, 252, 68
	LTEXT			_T("Usart :"),		IDC_LABEL,				12, 16, 32, 12
	COMBOBOX							USARTID_NO_CB,			36, 16, 28, 34, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL
	LTEXT			_T("Baud rate :"),	IDC_LABEL,				72, 16, 42, 12
	COMBOBOX							USARTID_BAUD_CB,		110, 16, 68, 112, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL
	LTEXT			_T("Data bits :"),	IDC_LABEL,				186, 16, 38, 12
	COMBOBOX							USARTID_DATABITS_CB,	222, 16, 28, 34, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL
	LTEXT			_T("Parity :"),		IDC_LABEL,				12, 34, 24, 12
	COMBOBOX							USARTID_PARITY_CB,		36, 34, 40, 44, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL
	LTEXT			_T("Stop bit :"),	IDC_LABEL,				82, 34, 28, 12
	COMBOBOX							USARTID_STOPBIT_CB,		112, 34, 32, 48, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL
	LTEXT			_T("Flow control :"),	IDC_LABEL,			152, 34, 44, 12
	COMBOBOX							USARTID_FLOWCTL_CB,		196, 34, 54, 36, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL
	PUSHBUTTON		_T("Open"),			USARTID_OPEN_BTN,		144, 53, 50, 14
	PUSHBUTTON		_T("Close"),		USARTID_CLOSE_BTN,		199, 53, 50, 14

	GROUPBOX		_T("Read"),			IDC_GRP,					5, 80, 252, 58
	EDITTEXT							USARTID_READ_EDT,			12, 90, 184, 40,	ES_READONLY | ES_MULTILINE | ES_AUTOVSCROLL
	LTEXT			_T("Length :"),		IDC_LABEL,				200, 90, 26, 12
	EDITTEXT							USARTID_READ_LEN_EDT,	228, 90, 20, 13,	ES_NUMBER
	PUSHBUTTON		_T("Read"),			USARTID_READ_BTN,		200, 106, 50, 14

	GROUPBOX		_T("Write"),		IDC_GRP,					5, 140, 252, 30
	EDITTEXT							USARTID_WRITE_EDT,			12, 150, 184, 14,	ES_MULTILINE | ES_AUTOVSCROLL
	PUSHBUTTON		_T("Write"),		USARTID_WRITE_BTN,			200, 150, 50, 14
}